.room-box {
    width: 100px;
    height: 60px;
    border: 1px solid #ccc;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-radius: 4px;
    background-color: #f8f9fa;
    cursor: pointer;
}

.room-box.booked {
    background-color: #2de14e;
    color: white;
}

.floor-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.room-box.already-booked {
    background-color: #757575;
    color: white;
}